<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My Home</title>
  <link rel="icon" href="../templates/icon.jpg">
  <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
  <div class="main">
    <div class="header">
      <h1>Welcome Home</h1>
    </div>
    <div class="container">
      <!-- LED Control -->
      <div class="led-controller controller-box">
        <div class="title-box">
          <h2>LED Control</h2>
        </div>
        <div class="switch-box">
          <label class="switch">
            <input type="checkbox" onchange="controlLed(this.checked ? 'on' : 'off')">
            <span class="slider"></span>
          </label>
        </div>
      </div>

      <!-- Table LED Control -->
      <div class="controller-box">
        <div class="title-box">
          <h2>Table LED Control</h2>
        </div>
        <div class="switch-box">
          <label class="switch">
            <input type="checkbox" onchange="table_led(this.checked ? 'on' : 'off')">
            <span class="slider"></span>
          </label>
        </div>
      </div>


         <div class="controller-box">
        <div class="title-box">
          <h2>Hoperlör</h2>
        </div>
        <div class="switch-box">
          <label class="switch">
            <input type="checkbox" onchange="speaker(this.checked ? 'on' : 'off')">
            <span class="slider"></span>
          </label>
        </div>
      </div>


    </div>

    <div id="notification" class="notification"></div>
  </div>
  <script src="../static/app.js"></script>
</body>

</html>